<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h2>Register</h2>
<div th:if="${error}" class="error" th:text="${error}">
  Registration error
</div>
<form th:action="@{/register}" method="post">
  <div class="form-group">
    <label for="username-input">Username:</label>
    <input type="text" id="username-input" name="username" required/>
  </div>
  <div class="form-group">
    <label for="password-input">Password:</label>
    <input type="password" id="password-input" name="password" required/>
    <label for="password-confirm-input">Confirm password:</label>
    <input type="password" id="password-confirm-input" name="password-confirm" required/>
  </div>
  <button type="submit">Register</button>
  <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
</form>
</body>
</html>